# O objetivo deste notebook é preparar os dados do arquivo .parquet gerado no notebook 'agregador' para treinamento do modelo

### Importação das bibliotecas

In [1]:
import pandas as pd
import datetime as dt

### Leitura do arquivo parquet

In [2]:
# ABRIR PARQUET
parquet = pd.read_parquet("C:/Users/eduar/Downloads/06120033/failure_window.parquet/part.0.parquet")
parquet

,recording_time,dateDay-1,dateMonth-1,dateYear-1,phaseOfFlight-1,message0418DAA-1,message0422DAA-1,bleedFavTmCmd-1a,bleedFavTmCmd-1b,bleedFavTmCmd-2a,...,bleedHprsovOpPosStatus-1a,bleedHprsovOpPosStatus-1b,bleedHprsovOpPosStatus-2a,bleedHprsovOpPosStatus-2b,bleedMonPress-1a,bleedMonPress-1b,bleedMonPress-2a,bleedMonPress-2b,bleedOnStatus-1a,bleedOnStatus-1b
__null_dask_index__,,,,,,,,,,,,,,,,,,,,,
0,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
1,50,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,5.25,5.00,41.25,41.25,NaN,NaN
2,100,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
3,150,25.0,5.0,2022.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94964,4748200,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN
94968,4748400,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN
94972,4748600,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN
94976,4748800,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN
94980,4749000,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN

### Criação de uma nova coluna 'data_voo' por meio das colunas de data

In [3]:
# Criando a coluna de data voo
parquet['data_voo'] = 0

In [6]:
# Definição da função que cria a data do voo a partir de uma linha (row) do Dataframe
def create_data_voo(row):
    # Extrai o ano, mês e dia das colunas do DataFrame
    year = int(row['dateYear-1'])
    month = int(row['dateMonth-1'])
    day = int(row['dateDay-1'])

    # Verifica se a data (mês e dia) é válida
    if 1 <= month <= 12 and 1 <= day <= 31:
        return f"{year}-{str(month).zfill(2)}-{str(day).zfill(2)}"
    else:
        return pd.NaT  # Retorna "Not a Timestamp" para datas inválidas

# Aplica a função 'create_data_voo' em cada linha do DataFrame para criar a coluna 'data_voo'
parquet['data_voo'] = parquet.apply(create_data_voo, axis=1)
parquet['data_voo'] = pd.to_datetime(parquet['data_voo'], errors='coerce')

In [7]:
parquet

,recording_time,dateDay-1,dateMonth-1,dateYear-1,phaseOfFlight-1,message0418DAA-1,message0422DAA-1,bleedFavTmCmd-1a,bleedFavTmCmd-1b,bleedFavTmCmd-2a,...,bleedHprsovOpPosStatus-1b,bleedHprsovOpPosStatus-2a,bleedHprsovOpPosStatus-2b,bleedMonPress-1a,bleedMonPress-1b,bleedMonPress-2a,bleedMonPress-2b,bleedOnStatus-1a,bleedOnStatus-1b,data_voo
__null_dask_index__,,,,,,,,,,,,,,,,,,,,,
0,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaT
1,50,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,5.25,5.00,41.25,41.25,NaN,NaN,NaT
2,100,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaT
3,150,25.0,5.0,2022.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25
4,200,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94964,4748200,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,NaT
94968,4748400,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,NaT
94972,4748600,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,NaT
94976,4748800,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,NaT
94980,4749000,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,NaT

In [8]:
df= parquet

In [9]:
# Dropando as primeiras colunas
df = parquet.drop([0, 1, 2])
df.reset_index(drop=True, inplace=True)
df

,recording_time,dateDay-1,dateMonth-1,dateYear-1,phaseOfFlight-1,message0418DAA-1,message0422DAA-1,bleedFavTmCmd-1a,bleedFavTmCmd-1b,bleedFavTmCmd-2a,...,bleedHprsovOpPosStatus-1b,bleedHprsovOpPosStatus-2a,bleedHprsovOpPosStatus-2b,bleedMonPress-1a,bleedMonPress-1b,bleedMonPress-2a,bleedMonPress-2b,bleedOnStatus-1a,bleedOnStatus-1b,data_voo
0,150,25.0,5.0,2022.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25
1,200,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaT
2,250,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,5.25,5.50,41.25,41.25,NaN,NaN,NaT
3,300,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaT
4,350,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9060791,4748200,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,NaT
9060792,4748400,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,NaT
9060793,4748600,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,NaT
9060794,4748800,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,NaT
9060795,4749000,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,NaT

In [10]:
# Preenchendo a coluna de data vazia 
df['data_voo'] = pd.to_datetime(df['data_voo'])
last_valid_datetime = None


# Neste loop vamos preenchendo todas as colunas de data com as últimas datas 
for index, row in df.iterrows():
    if pd.isnull(row['data_voo']):
        # Checa se é NaN e coloca a última data válida
        df.at[index, 'data_voo'] = last_valid_datetime
    else:
        # Se não for NaN atualiza a data válida
        last_valid_datetime = row['data_voo']

In [11]:
df

,recording_time,dateDay-1,dateMonth-1,dateYear-1,phaseOfFlight-1,message0418DAA-1,message0422DAA-1,bleedFavTmCmd-1a,bleedFavTmCmd-1b,bleedFavTmCmd-2a,...,bleedHprsovOpPosStatus-1b,bleedHprsovOpPosStatus-2a,bleedHprsovOpPosStatus-2b,bleedMonPress-1a,bleedMonPress-1b,bleedMonPress-2a,bleedMonPress-2b,bleedOnStatus-1a,bleedOnStatus-1b,data_voo
0,150,25.0,5.0,2022.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25
1,200,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2022-05-25
2,250,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,5.25,5.50,41.25,41.25,NaN,NaN,2022-05-25
3,300,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2022-05-25
4,350,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9060791,4748200,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15
9060792,4748400,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15
9060793,4748600,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15
9060794,4748800,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15
9060795,4749000,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15

### Salvando o DataFrame em um arquivo .csv

In [12]:
df.to_csv('data-dt.csv', index=False)

### Leitura do novo arquivo .csv

In [13]:
# Abrindo o csv
df_data = pd.read_csv("C:/Users/eduar/Downloads/06120033/data-dt.csv")

In [14]:
df_data

,recording_time,dateDay-1,dateMonth-1,dateYear-1,phaseOfFlight-1,message0418DAA-1,message0422DAA-1,bleedFavTmCmd-1a,bleedFavTmCmd-1b,bleedFavTmCmd-2a,...,bleedHprsovOpPosStatus-1b,bleedHprsovOpPosStatus-2a,bleedHprsovOpPosStatus-2b,bleedMonPress-1a,bleedMonPress-1b,bleedMonPress-2a,bleedMonPress-2b,bleedOnStatus-1a,bleedOnStatus-1b,data_voo
0,150,25.0,5.0,2022.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25
1,200,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2022-05-25
2,250,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,5.25,5.50,41.25,41.25,NaN,NaN,2022-05-25
3,300,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2022-05-25
4,350,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9060791,4748200,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15
9060792,4748400,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15
9060793,4748600,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15
9060794,4748800,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15
9060795,4749000,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15

### Estabelecimento de uma janela semanal para identificação de falhas. Se for detectada uma falha em qualquer dia específico, o sistema retroagirá 6 dias, englobando assim um intervalo total de 7 dias e classificando-o como um intervalo de falha. Para essa identiticação será adicionada uma coluna chamada 'failure_week' ao conjunto de dados. Esta coluna indicará se houve ou não uma falha durante aquele intervalo semanal específico, por meio de decodificação binária de 0 e 1. A identificação de falha será feita por meio das colunas de 'message'.

In [15]:
# Criando a flag de falhas semanal 
df_data['failure_week'] = 0

In [16]:
# Obtendo todas as datas que houveram falhas por meio de valores diferentes de 0 e NaN nas colunas de message

# Falhas do motor 1 
get_failure_422 = df_data[(df_data['message0422DAA-1'] != 0) & (df_data['message0422DAA-1'].notna())]
# Falhas do motor 2 
get_failure_418 = df_data[(df_data['message0418DAA-1'] != 0) & (df_data['message0422DAA-1'].notna())]

In [17]:
# Checando os valores onde houveram falhas 
finish_week = get_failure_422['data_voo'].unique()
day_of_fails_1 = get_failure_418['data_voo'].unique()
print(finish_week)
print(day_of_fails_1)

['2022-05-30' '2022-06-01' '2022-06-03' '2022-11-06' '2023-01-03']
['2022-11-06' '2023-07-14']

In [18]:
# Mostrando todas as datas unicas 
df_data['data_voo'].unique()

array(['2022-05-25', '2022-05-26', '2022-05-27', '2022-05-28',
       '2022-05-29', '2022-05-30', '2022-05-31', '2022-06-01',
       '2022-06-02', '2022-06-03', '2022-06-04', '2022-10-30',
       '2022-10-31', '2022-11-01', '2022-11-02', '2022-11-03',
       '2022-11-04', '2022-11-05', '2022-11-06', '2022-11-07',
       '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
       '2022-12-30', '2022-12-31', '2023-01-01', '2023-01-02',
       '2023-01-03', '2023-01-04', '2023-05-12', '2023-05-13',
       '2023-05-14', '2023-07-07', '2023-07-08', '2023-07-09',
       '2023-07-10', '2023-07-11', '2023-07-12', '2023-07-13',
       '2023-07-14', '2023-07-15'], dtype=object)

In [19]:
# Definindo as datas para criar o intervalo de falhas semanais
begin_fail_1 = pd.to_datetime('2022-05-23')  
finish_fail_1 = pd.to_datetime('2022-05-30')

begin_fail_2 = pd.to_datetime('2022-05-25')  
finish_fail_2 = pd.to_datetime('2022-06-01')

begin_fail_3 = pd.to_datetime('2022-05-27')  
finish_fail_3 = pd.to_datetime('2022-06-03')

begin_fail_4 = pd.to_datetime('2022-10-30')  
finish_fail_4 = pd.to_datetime('2022-11-06')

begin_fail_5 = pd.to_datetime('2022-12-27')  
finish_fail_5 = pd.to_datetime('2023-01-03')

begin_fail_6 = pd.to_datetime('2022-10-30')  
finish_fail_6 = pd.to_datetime('2022-11-06')

begin_fail_7 = pd.to_datetime('2022-07-07')  
finish_fail_7 = pd.to_datetime('2022-07-14')

In [5]:
# Intervalos de falha
date_intervals = [
    (pd.to_datetime('2022-05-23'), pd.to_datetime('2022-05-30')),
    (pd.to_datetime('2022-05-25'), pd.to_datetime('2022-06-01')),
    (pd.to_datetime('2022-05-27'), pd.to_datetime('2022-06-03')),
    (pd.to_datetime('2022-10-30'), pd.to_datetime('2022-11-06')),
    (pd.to_datetime('2022-12-27'), pd.to_datetime('2023-01-03')),
    (pd.to_datetime('2022-10-30'), pd.to_datetime('2022-11-06')),
    (pd.to_datetime('2022-07-07'), pd.to_datetime('2022-07-14'))
]

NameError: name 'pd' is not defined

In [23]:
# Converte a coluna 'data_voo' em TimeStamp
df_data['data_voo'] = pd.to_datetime(df_data['data_voo'])

In [21]:
# Cria uma nova coluna 'failure_week' que inicia com 0
df_data['failure_week'] = 0

In [25]:
# Defini 'failure_week' como 1 para linhas correspondentes
for start_datetime, end_datetime in date_intervals:
    conditional = (df_data['data_voo'] >= start_datetime) & (df_data['data_voo'] <= end_datetime)
    df_data.loc[conditional, 'failure_week'] = 1

In [26]:
df_data

,recording_time,dateDay-1,dateMonth-1,dateYear-1,phaseOfFlight-1,message0418DAA-1,message0422DAA-1,bleedFavTmCmd-1a,bleedFavTmCmd-1b,bleedFavTmCmd-2a,...,bleedHprsovOpPosStatus-2a,bleedHprsovOpPosStatus-2b,bleedMonPress-1a,bleedMonPress-1b,bleedMonPress-2a,bleedMonPress-2b,bleedOnStatus-1a,bleedOnStatus-1b,data_voo,failure_week
0,150,25.0,5.0,2022.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25,1
1,200,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2022-05-25,1
2,250,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,5.25,5.50,41.25,41.25,NaN,NaN,2022-05-25,1
3,300,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2022-05-25,1
4,350,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9060791,4748200,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15,0
9060792,4748400,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15,0
9060793,4748600,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15,0
9060794,4748800,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15,0
9060795,4749000,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,0.75,0.75,0.25,0.25,NaN,NaN,2023-07-15,0

### Salvando o DataFrame em um arquivo .csv com as janelas de falha definidas

In [27]:
# Exportando o csv
df_data.to_csv('df-failure-window.csv', index=False)